@import 'general.scss';
@import 'fonts.scss';
@import 'variables.scss';

body {
    background-color: $color-yellow;

    main {
        width: 100%;
        padding: 0 15px;
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 90px;

        .introduction {
            h1 {
                font-family: 'Josefin Slab', serif;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
            }

            p{
                margin: 25px 0 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 500;
            }
        }
        form{
            input{
                margin-top: 15px;
                line-height: 50px;
                width: 100%;
                background-color: $color-white;
                padding: 0 20px 0 50px;
                background-image: url(../img/icons/search.svg);
                background-repeat: no-repeat;
                background-position: 20px center;
                background-size: 19px;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: $color-black;
                border: none;
                border-radius: 100px;
                &::placeholder{
                    color: rgba(0,0,0,0.2);
                }
            }
        }
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
            margin: 21px 0 27px;
        }
        .mychat{
            a{
                display: flex;
                align-items: center;
                padding: 15px;
                background-color: $color-white;
                border-radius: 10px;
                color: $color-black;
                text-decoration: none;
                &+a{
                    margin-top: 10px;
                }
                img{
                   width: 64px;
                   margin-right: 10px; 
                }
                .infos{
                    p{
                        font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 6px;
                    }
                    .wrapper{
                        display: flex;
                        align-items: center;
                        img{
                            min-width: 45px;
                            width: 45px;
                            margin-right: 5px;
                        }
                        span{
                            display: block;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            margin: 0;
                        }
                    }
                }
            }
            button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        border: none;
                        border-radius: 100px;
                        width: 100%;
                        max-width: 222px;
                        margin: 30px auto;
                        background-color: #000;
                        color: $color-yellow;
                        font-weight: 500;
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 0.2em;
                        padding: 0;

                        &:focus {
                            outline: none;
                            text-decoration: none;
                        }

                        img {
                            margin-left: 10px;
                        }
            }
        }
        .others{
            display: flex;
            a{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: calc(100% / 3 - 3.3333px);
                background-color: $color-white;
                border-radius: 10px;
                padding-bottom: 15px;
                height: 124px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            color: $color-black;
                            text-decoration: none;
                img{
                   height: 35px; 
                   margin-bottom: 10px;
                }
                &+a{
                    margin-left: 5px;
                }
            }
        }
    }
}